h2{
   text-align: center;
}
.big {
   height: 600px;
   width: 600px;
   /* border: black solid 5px; */
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 50px;
}

.col3 {
   float: right;
}
.col2 {
   position: absolute;
   left: auto;
}
.col1 {
   float: left;
}

.r1c1 {
   height: 200px;
   width: 200px;
   border-right: solid black 5px;
   border-bottom: solid black 5px;
   /* background-color: blue; */
}

.r2c1 {
   height: 200px;
   width: 200px;
   border-right: solid black 5px;
   border-bottom: solid black 5px;
   /* background-color: chartreuse; */
}

.r3c1 {
   height: 200px;
   width: 200px;
   border-right: solid black 5px;
   /* background-color: crimson; */
}

.r1c3 {
   height: 200px;
   width: 200px;
   border-left: black solid 5px;
   border-bottom: solid black 5px;
   /* background-color: lightblue; */
}

.r2c3 {
   height: 200px;
   width: 200px;
   border-left: black solid 5px;
   border-bottom: black solid 5px;
   /* background-color: indigo; */
}

.r3c3 {
   height: 200px;
   width: 200px;
   border-left: black solid 5px;
   /* background-color: green; */
}

.r1c2 {
   height: 200px;
   width: 200px;
   /* background-color: lightblue; */
   position: absolute;
   left: 205px;
   border-bottom: solid black 5px;
}

.r2c2 {
   height: 200px;
   width: 200px;
   position: absolute;
   left: 205px; top: 205px;
   border-bottom: black solid 5px;
   /* background-color: lightblue; */
}

